{erl_opts, [debug_info]}.

{plugins, [erlfmt]}.

{erlfmt, [write]}.

{deps, [
    jsone,
    {uuid, {git, "https://github.com/okeuday/uuid", {branch, "master"}}}
]}.

{relx, [
    {release, {distrumc, "0.1.0"}, [
        distrumc,
        sasl
    ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
