[
    {mc_lb, [
        {online_mode, true}
    ]},
    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                formatter =>
                    {logger_formatter, #{
                        depth => 50
                    }}
            }}
        ]}
    ]}
].
